<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="{{ meta.author }}">

    <!-- Styles reveal 5.x -->
    <link rel="stylesheet" href="{{ static_revealjs }}/reset.css">
    <link rel="stylesheet" href="{{ static_revealjs }}/reveal.css">

    <!-- Plugins tiers (css) -->
    <link rel="stylesheet" href="{{ static_revealjs }}/plugin/title-footer/title-footer.css">
    <link rel="stylesheet" href="{{ static_revealjs }}/plugin/toc-progress/toc-progress.css">
    <link rel="stylesheet" href="{{ static_revealjs }}/plugin/highlight/zenburn.css">

    {% if theme %}
      <link rel="stylesheet" href="{{ theme }}" id="theme">
    {% else %}
      <link rel="stylesheet" href="{{ static_revealjs }}/theme/white.css" id="theme">
    {% endif %}

    {% if style %}
      <link rel="stylesheet" href="{{ style }}" id="style">
    {% endif %}
  </head>
  <body>

    <div class="reveal">
      <img class="logo" src="{{ static_revealjs }}/images/logo-heig-vd.svg" alt="">
      <img class="logo-right" src="{{ static_revealjs }}/images/logo-{{ logo }}.png" alt="{{ logo }}">
      <div class="slides">
        {% for section in slides %}
          {% if section|length > 1 %}
            <section>
              {% for slide in section %}
                <section data-markdown>
                  <script type="text/template">
                    {{ slide|safe }}
                  </script>
                </section>
              {% endfor %}
            </section>
          {% else %}
            {% for slide in section %}
              <section data-markdown>
                <script type="text/template">
                  {{ slide|safe }}
                </script>
              </section>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <a rel="license" href="http://creativecommons.org/licenses/{{ licence }}/4.0/"><img alt="Creative Commons License" style="border-width:0;position:absolute;bottom:5px;right:150px;position:fixed;" src="https://i.creativecommons.org/l/{{ licence }}/4.0/88x31.png" /></a>

    <script src="https://unpkg.com/reveal.js@5.2.1/dist/reveal.js"></script>
    <script src="https://unpkg.com/reveal.js@5.2.1/plugin/math/math.js"></script>
    <script src="https://unpkg.com/reveal.js@5.2.1/plugin/markdown/markdown.js"></script>
    <script src="https://unpkg.com/reveal.js@5.2.1/plugin/highlight/highlight.js"></script>
    <script src="https://unpkg.com/reveal.js@5.2.1/plugin/notes/notes.js"></script>
    <script src="https://unpkg.com/reveal.js-menu@2.1.0/menu.js"></script>
    <!--
    <script src="{{ static_revealjs }}/reveal.js"></script>
    <script src="{{ static_revealjs }}/plugin/math/math.js"></script>
    <script src="{{ static_revealjs }}/plugin/markdown/markdown.js"></script>
    <script src="{{ static_revealjs }}/plugin/highlight/highlight.js"></script>
    <script src="{{ static_revealjs }}/plugin/notes/notes.js"></script>
    -->

    <script>
      
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        // ⚙️ Configuration du menu (tout est optionnel)
        menu: {
          side: 'left',
          width: 'normal',
          numbers: false,
          titleSelector: 'h1, h2, h3, h4, h5, h6',
          hideMissingTitles: false,
          markers: true,
          themes: false,          // ou true / liste custom
          themesPath: 'dist/theme/',
          transitions: false,     // ou ['None','Fade','Slide']
          openButton: true,
          openSlideNumber: false,
          keyboard: true,
          sticky: false,
          autoOpen: true
        },
        //
        dependencies: [
          //{ src: '{{ static_revealjs }}/plugin/menu/menu.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '{{ static_revealjs }}/plugin/title-footer/title-footer.js', async: true, callback: function() { title_footer.initialize(); } },
          // { src: '{{ static_revealjs }}/plugin/toc-progress/toc-progress.js', async: true, callback: function() { toc_progress.initialize(); toc_progress.create(); } },
        ],

        //
        plugins: [
          RevealMarkdown,
          RevealHighlight,
          RevealNotes,
          RevealMath,
          RevealMenu,
        ],
      });

      // Ta config additionnelle
      Reveal.configure({{ config|tojson }});
    </script>
  </body>
</html>

