<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata about the presentation -->
    <meta charset="utf-8">

    <title>{{ meta.title }}</title>

    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="{{ meta.author }}">

    <!-- Presentation Styles -->
    <link rel="stylesheet" href="{{ static_revealjs }}/reset.css">
    <link rel="stylesheet" href="{{ static_revealjs }}/reveal.css">
    

    <link rel="stylesheet" href="{{ static_revealjs }}/plugin/title-footer/title-footer.css">
    <link rel="stylesheet" href="{{ static_revealjs }}/plugin/toc-progress/toc-progress.css">


    {% if theme %}

      <link rel="stylesheet" href="{{ theme }}" id="theme"> <!-- {{ static_revealjs }}/theme/{{ theme }}.css -->
    
    {% else %}
    
     <link rel="stylesheet" href="{{ static_revealjs }}/theme/white.css" id="theme">

    {% endif %}

    {% if style %}

      <link rel="stylesheet" href="{{ style }}" id="style">
    {% endif %}

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{{ static_revealjs }}/plugin/highlight/zenburn.css">

  </head>

  <body>

    <!-- Presentation body -->
    <div class="reveal">
      <img class="logo" src="{{ static_revealjs }}/images/logo-heig-vd.svg" alt="">
	  <img class="logo-{{ logo }}" src="{{ static_revealjs }}/images/logo-{{ logo }}.png" alt="{{ logo }}">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        {% for section in slides %}
          {% if section|length > 1 %}
            <section>
              {% for slide in section %}
                <section data-markdown>
                  <script type="text/template">
                    {{ slide|safe }}
                  </script>
                </section>
              {% endfor %}
            </section>
          {% else %}
            {% for slide in section %}
              <section data-markdown>
                <script type="text/template">
                  {{ slide|safe }}
                </script>
              </section>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>

    </div>

<a rel="license" href="http://creativecommons.org/licenses/{{ licence }}/4.0/"><img alt="Creative Commons License" style="border-width:0;position:absolute;bottom:5px;right:150px;" src="https://i.creativecommons.org/l/{{ licence }}/4.0/88x31.png" /></a>

    <!-- Scripts loaded after the content -->
    <script  src="{{ static_revealjs }}/reveal.js"></script>

    <script src="{{ static_revealjs }}/plugin/markdown/markdown.js"></script>
    <script src="{{ static_revealjs }}/plugin/highlight/highlight.js"></script>
    <script src="{{ static_revealjs }}/plugin/notes/notes.js"></script>
    <script src="{{ static_revealjs }}/plugin/math/math.js"></script>

    <script>
    
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: true,
        dependencies: [
			{ src: '{{ static_revealjs }}/plugin/menu/menu.js', async: true, condition: function() { return !!document.body.classList; } },
			{ src: '{{ static_revealjs }}/plugin/title-footer/title-footer.js', async: true, callback: function() { title_footer.initialize(); } },
			{ src: '{{ static_revealjs }}/plugin/toc-progress/toc-progress.js', async: true, callback: function() { toc_progress.initialize(); toc_progress.create(); } },
        ],
		plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath ]
	});

      
      Reveal.configure({{ config|tojson }});
      
      
    </script>
  </body>
</html>
